[submodule "auth-service"]
	path = auth-service
	url = https://github.com/PetaTalenta/auth-service.git
[submodule "assessment-service"]
	path = assessment-service
	url = https://github.com/PetaTalenta/assessment-service.git
[submodule "archive-service"]
	path = archive-service
	url = https://github.com/PetaTalenta/archive-service.git
